
body {
    margin: 0px 190px 0px 190px;
    background-color:lightgray;
    font-family: "Open sans";
}


section {
    background-color: white;
}

h1 {
    background-color:#083D77;
    font-size: 24px;
    color:white;
    margin: 0px;
    padding:25px 0px 25px 40px;
}

.adopttext{
    padding: 0px 0px 0px 42px;
}
.dogcontainer{
    /* margin: 0px 190px 0px 190px; */
    flex-wrap:wrap;
    display: flex;
    
    justify-content:center;
    align-content:center;
}
        .dogitem{
            display:flex;
            width:25%;
            padding:10px;
            color: white;
            flex-direction: column;
            flex-basis: 25%;
        }
                    .dogpic{
                        height: 50px;
                        width: 75px;
                    }
                    
                    .dogfactsmainbox{
                    justify-content:flex-start;
                    padding-inline-start: 0px;
                    display:flex;
                    margin:0;
                    flex-direction:row;
                    flex-wrap: wrap;
                    font-size:8px;   
                        
                    }
                    .dogfactsattribute{
                        background:blue;
                        padding-left:2px;
                        padding-right:2px;
                        
                    }
                    .dogname{
                        color:black;
                        font-family: "oswald";
                    }
.footerimage {
    width:30%;
    margin:0px;
    padding:0px;
    display:inline-block;
}